@use '../../variables.scss';

.dragDrop {
  background-color: variables.$dark-accent;
  border: 2px dashed variables.$light-color;
  margin-top: 20px;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  *:not(label) {
    pointer-events: none;
  }
}

.or {
  color: darken(variables.$light-color, 20);
  margin: 8px 0;
}

.browseButton {
  background-color: variables.$dark-color;
  outline: none;
  font: 1em 'Exo 2';
  border: 0;
  color: variables.$light-accent;
  cursor: pointer;
  padding: 8px 28px;

  &:hover {
    background-color: lighten(variables.$dark-color, 10);
  }

  & > input {
    display: none;
  }
}
