@import '../../variables.scss';

.section {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background-color: $dark-color;
  box-shadow: 0 0 10px 0 rgb(40 40 40 / 30%);
  margin: 12px auto 0 auto;
  padding: 20px 40px;
}
