@use '../../variables.scss';

.searchInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid darken(variables.$light-accent, 30%);
  margin: 4px;
  color: variables.$light-accent;
  outline: none;
  font: 1.3em 'Exo 2';

  &:focus {
    border-bottom: 2px solid variables.$light-color;
  }

  &::placeholder {
    color: darken(variables.$light-accent, 30%);
  }
}
