@import './variables.scss';

.root {
  height: 100%;
  flex-direction: column;
  display: flex;
}

.playingRoot {
  @extend .root;
  display: none;
}

.lock {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.noLock {
  @extend .lock;
  display: none;
}

.lockMessage {
  color: wheat;
  max-width: 400px;
  border: white 2px solid;
  background-color: black;
  padding: 1em;
}
