.beatmapSection {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  background-color: #eee;
  box-shadow: 0 0 10px 0 rgb(40 40 40 / 30%);
  margin: 0 auto 12px auto;
  padding: 0 40px;
}
