/* Theme */

$light-accent: #f4f4f2; // Light text on dark
$light-color: #e8e8e8; // Light backgrounds
$dark-color: #495464; //
$dark-accent: #000316; // Dark backgrounds

// Links
$link-color: #40e0d0;
$visited-color: #d0a1ff;
