.uploadLabel {
  border: 1px solid #bbb;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;

  & > input {
    display: none;
  }
}

.localHeader {
  display: flex;
  flex-direction: row;
}
