@use '../../variables.scss';

.bar {
  height: 110px;
  border-radius: 4px 0 0 4px;
  margin-bottom: 16px;
  background-image: url('default-bg.webp');
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.fadein {
  height: 100%;
  animation: 0.5s fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  background: linear-gradient(to right, #00000088 33%, #00000011);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  justify-content: center;

  &:hover {
    background: linear-gradient(to right, #00000066 50%, transparent);
  }
}

.title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 4px;
}

.artist {
  font-size: 1.1em;
  margin-bottom: 4px;
}

.diffCircleBox {
  display: flex;
  flex-direction: row;
  margin: 2px 0;
}

.diff {
  height: 70px;
  border-radius: 4px 0 0 4px;
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: variables.$dark-color;
  padding-left: 4px;

  &:hover {
    background-color: lighten(variables.$dark-color, 10);
  }
}

.diffInfo {
  padding-left: 4px;
}

.diffMeta {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.version {
  font-size: 1.2em;
  margin-right: 8px;
}
