@import '../../variables.scss';

.header {
  background-color: $dark-color;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 50px;
  align-items: stretch;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 0 8px;
}

.headerItem {
  @extend .headerLogo;

  &:hover {
    background-color: lighten($dark-color, 10);
  }
}

.headerButton {
  background-color: transparent;
  color: $light-accent;
  outline: none;
  font: 1em 'Exo 2';
  border: 0;
  padding: 0;
  cursor: pointer;
}

.title {
  margin-bottom: 12px;
}

.sayobot {
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.section {
  min-height: 100px;
  margin-top: 16px;
}
