@use '../../variables.scss';

.header {
  background-color: variables.$dark-color;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 50px;
  align-items: stretch;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 0 8px;
  cursor: default;

  P {
    user-select: none;
  }
}

.headerItem {
  @extend .headerLogo;

  cursor: pointer;

  &:hover {
    background-color: lighten(variables.$dark-color, 10);
  }
}

.title {
  margin-bottom: 12px;
}

.sayobot {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section {
  min-height: 100px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  button {
    margin-top: 8px;
  }
}
