@use '../../variables.scss';

.header {
  background-color: variables.$dark-color;
  display: flex;
  flex-direction: row;
  padding: 0 16px;
  height: 50px;
  align-items: stretch;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 0 8px;
  cursor: default;

  & > P {
    user-select: none;
  }
}

.headerItem {
  @extend .headerLogo;

  cursor: pointer;

  &:hover {
    background-color: lighten(variables.$dark-color, 10);
  }
}

.title {
  margin-bottom: 12px;
}

.sayobot {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  button {
    line-height: 30px;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  select {
    height: 40px;
    margin-left: 4px;
    background-color: #495464;
    color: #f4f4f2;
    border: 1px solid #e8e8e8;
    font-family: 'Exo 2';
    font-size: 1em;
  }
}

.section {
  min-height: 100px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  button {
    margin-top: 8px;
  }
}
