@use '../../../variables.scss';

.options {
  width: 500px;
}

.optionsSection {
  margin-bottom: 8px;
}

.optionsItem {
  padding: 4px;
  &:hover {
    background-color: lighten(variables.$dark-color, 10);
  }
}

.rowItem {
  @extend .optionsItem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.disabledOptionsItem {
  @extend .optionsItem;

  filter: brightness(0.5);
  cursor: default;

  &:hover {
    background-color: transparent;
  }
}

.disabledRowItem {
  @extend .rowItem;
  @extend .disabledOptionsItem;
}

.range {
  width: 100%;
  margin: 4px 0 0 0;
  cursor: pointer;
}

.disabledRange {
  @extend .range;

  cursor: default;
}

.keyBindingModal {
  text-align: center;
}

.mouseAccelerationModal {
  width: 500px;
}
