@use '../../variables.scss';

.info {
  flex: 1;
  background-color: variables.$dark-accent;
}

.bg {
  width: 100%;
  height: 400px;
  background-image: url('default-bg.png');
  background-size: cover;
  background-position: center;
}
