@use '../../variables.scss';

.beatmapCard {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 4px;

  &:nth-child(even) {
    float: right;
  }
}

.cardBox {
  background-color: variables.$light-color;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
}

.cardUpper {
  height: 120px;
  background-size: cover;
  border-radius: 4px 4px 0 0;
}

.cardUpperBox {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  box-sizing: border-box;
  padding: 4px;
  background: linear-gradient(transparent, #000000aa);
}

.cardTitle {
  font-size: 1.3em;
}

.cardLower {
  height: 60px;
  color: variables.$dark-accent;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardLowerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardLowerDiffs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin: 2px 0;

  // Difficulty count
  p {
    line-height: 20px;
  }
}

.addBox {
  padding: 4px;

  // Loading circle color
  & > div {
    & > div {
      border-color: variables.$dark-color transparent;
    }
  }
}
